*{
 padding: 10px;
}

body{
 display: flex;
 flex-direction: column;
 align-items: center;
}


/* adding a blur at the beginning, so there is a transition to the final picture */
img[data-src] {
  filter: blur(0.2em);
}

img {
  filter: blur(0em);
  transition: filter 0.5s;
}