:root {
  /*FONTS:*/
  --heading-font: "Zeyada", Georgia, serif;
  --paragraph-font: "Ubuntu", Tahoma, sans-serif;

  /*COLORS:*/
  --primary-color: #1c3e13;
  --secondary-color: #ffffff;
  --accent1-color: #29ce69;
  --accent2-color: #ffa93f;

  --headline-color-on-white: black;
  --headline-background-color: #ffffff;

  --paragraph-color-on-white: #1c3e13;
  --paragraph-color-on-color: #000000;
  --paragraph-background-color: #29ce69;

  --nav-link-color: #ffffff;
  --nav-background-color: #1c3e13;
  --nav-hover-link-color: #000000;
  --nav-hover-background-color: #29ce69;
}

* {
  font-family: var(--paragraph-font);
  letter-spacing: 0.05rem;

}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.header-grid {
  background-color: var(--nav-background-color);
  text-align: center;
}

#primaryNav > * {
  padding: 10px;
  font-size: 1.9em;
  font-weight: bold;
}

nav ul li a {
  color: var(--nav-link-color);
  text-decoration: none;
  display: block;
  padding: 0.8rem 2vw;
  font-family: var(--heading-font);
  letter-spacing: 0.25rem;
}

nav ul li a:hover {
  background-color: var(--nav-hover-background-color);
  color: black;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#hamburgerBtn {
  margin: 2rem 2vw;
  background: transparent;
  border: 1px solid RGBA(0, 0, 0, 0.5);
  font-size: 2.5rem;
  color: var(--secondary-color);
  grid-column: 3/4;
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
  font-family: var(--heading-font);
}
#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
  font-family: var(--heading-font);
}

.hero {
  position: relative;
}

.hero-img img {
  display: block;
  width: 100%;
}

.hero h1 {
  position: absolute;
  top: 0.9rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #29ce69cc;
  padding: 0.25em;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.15em;
  color: black;
  text-align: center;
  width: 80%;
  padding-top: 1.5%;
}

/* only on small home screen, make-drink button leads to fresh page */
.make-drink {
  background-color: var(--accent1-color);
  color: black;
  padding: 0.5em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: 0.15em;
  font-family: var(--heading-font);
  border-radius: 10px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid var(--accent2-color);
}

.make-drink:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

#weather-cards > * {
  background-color: var(--accent1-color);
  margin: 0.5em;
  padding: 1em;
}
#weather-cards {
  border: 10px solid var(--accent2-color);
}
.weather-info h2 {
  background-color: var(--accent2-color);
  padding: 1em;
}


.information-card {
  padding: 1em;

}
.navigation > *,
.contact-info > *, .weather-info >* {
  margin: 0;
}

.company-info > * {
  margin: 1em;
}
.contact-info p {
  border-bottom: 10px solid var(--accent2-color);
}
.contact-info h3:nth-of-type(1) {
  border-top: 10px solid var(--accent2-color);
}
.contact-info,
.navigation {
  border: 10px solid var(--accent2-color);
}

.contact-info > *, .navigation h2{
  padding: 0.5em;
}
.navigation p{
  padding: 1em;
}
.contact-info h3,
.navigation h2 {
  padding-bottom: 0;
}
.navigation p a {
  color: black;
}
.nagivation p a:visited {
  color: black;
}

.carlsbad-info {
  border: 10px solid var(--accent1-color);
}
.carlsbad-info div{
  padding: 1em;
}

.information-card {
  display: none;
}

.contact-info, .navigation, .carlsbad-info, #weather-cards > *{
      text-align: center;
}

#drinks-num {
  padding: 1em;
}

/* ------------fresh page------------- */
.asterik {
  color: #a71113;
}
form {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label.top {
  display: block;
  padding-top: 1rem;
  color: var(--primary-color);
}
form label.top input,
textarea {
  display: block;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 0.75rem;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

#submitBtn {
  border: none;
  background-color: var(--accent2-color);
  color: var(--primary-color);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  display: block;
  margin: auto;
  width: 96%;
  max-width: 20rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

#order-info{
    background-image: url("../images/fruits2.png");
    background-size: cover;
    background-position: center;
  border-radius: 10px;
  position: relative;

  }
/* #nutrition-info{

    display: block;
    margin: auto;
    position: absolute;
  }

  #nutrition-info p{
        opacity: 1;
    color: black;
  } */

/* --------------footer info--------------*/

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 0.8em;
}
.openweather,
.resources a {
  color: var(--secondary-color);
  text-decoration: none;
}
.openweather:visited,
.resources a:visited {
  color: var(--secondary-color);
}

.location a {
  text-decoration: none;
  color: var(--secondary-color);
}
.info-box > * {
  padding: 0.5em;
}
.info-box {
  display: flex;
  flex-direction: column;
}

.footer1 {
  padding-bottom: 0.8em;
}

.footer2 {
  border-top: 1px solid var(--secondary-color);
  padding-top: 0.8em;
}
.footer2 p {
  margin: 0;
}
