
*{
 text-align: center;
}

h1{
  background-color: #B2ADA9;
  padding: 20px; 
   border: 10px solid #968E88;
}


.cards{
display: grid;
gap: 10px;
max-width: 95%;
margin: auto;

}
ul{
 list-style: none;

}

section{
 background-color: #B2ADA9;
 border: 10px solid #968E88;
 
}
.quoteBox{
 padding: 10px 20px;
}
.infobox{
 padding-bottom: 10px;;
}


/* medium */
@media only screen and (min-width: 800px)
{
 .cards{
  grid-template-columns: 1fr 1fr;

 }
 h1{
  max-width: 80%;
  margin: auto;
  margin-bottom: 10px;

 }
}

/* large */
@media only screen and (min-width: 1200px) 
{

 .cards {
   grid-template-columns: repeat(4, 1fr);
  }

}
