@media only screen and (min-width: 1100px) {
  body {
    max-width: 85%;
    margin: auto;
  }
  .header-date {
    font-size: 1.2em;

  }

  nav ul li a {
    padding: 0.5rem 1rem;
    font-size: 1.2em;
  }

  .home-grid {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .join,
  .weather,
  .event {
    grid-column: 1/2;
  }

  .join {
    grid-row: 3/4;
  }
  .hero,
  .news-release {
    grid-column: 2/3;
  }
  .hero {
    grid-row: 1/3;
  }

  .news-release {
    grid-row: 3/4;
  }
  .spotlights {
    grid-column: 3/4;
    grid-row: 1/4;
    flex-direction: column;
  }

  .hero h1 {
    color: black;
  }

  .spotlight3 {
    display: block;
    text-align: center;
    background-color: var(--accent2-color);
    padding: 1em;
  }

  .hero,
  .news-release {
    grid-column: 2/3;
  }
  .footer2 p:nth-child(3) {
    border-right: 1px solid var(--secondary-color);
  }

  .spotlight3 div a:hover {
    background-color: var(--accent1-color);
  }

  form label.top input {
    padding: 0.25rem 0;
  }
  form label.sbs {
    padding: 0.4rem 0;
  }
  .join-box {
    gap: 2.5rem;
  }
}
