@media only screen and (min-width: 800px) {
  header,
  footer,
  main {
    margin: 1em;
  }
  #hamburgerBtn {
    display: none;
  }

  nav {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul#primaryNav {
    display: flex;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }
  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
  .social {
    grid-column: 3/4;
    grid-row: 1/4;
  }

  .header-date {
    grid-column: 2/3;
  }

  .header-img-div {
    grid-row: 1/4;
    display: flex;
    justify-content: center;
  }

  .header-img-div img {
    width: 90%;
    padding-top: 0.5em;
  }

  .home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .hero {
    grid-column: 1/4;
  }
  .news-release {
    grid-row: 2/3;
    grid-column: 1/4;
  }
  .spotlights {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
  }

  .spotlight1,
  .spotlight2 {
    flex: 40%;
  }

  .join {
    display: block;
    grid-column: 1/4;
    grid-row: 4/5;

    background-color: var(--accent2-color);
    text-align: center;
    padding: 10px;
  }
  .join .join-button {
    background-color: var(--accent1-color);
    text-align: center;
    margin: auto;
  }
  .event {
    grid-column: 1/3;
  }

  .discover-grid {
    border: 2px solid var(--primary-color);
    display: grid;
    padding: 0 2em 2em 2em;
    grid-template-columns: 1fr 3fr;
    gap: 2em;
  }
  .discover-grid h1 {
    grid-column: 1/3;
  }
  .discover-pictures {
    grid-column: 1/2;
    grid-row: 2/7;
  }

  .info-box,
  .demographics {
    grid-column: 2/3;
  }
  .info-box {
    border: 2px solid var(--primary-color);
    padding: 2em;
    font-size: 1.3em;
  }

  .demographics {
    grid-row: 3/6;
  }

  .discover-img:hover {
    box-shadow: 7px 7px var(--primary-color);
  }

  .join-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .join-box > * {
    padding: 1rem;
  }

  .join-h1 {
    grid-column: 1/3;
  }
  .join-form {
    grid-column: 1/2;
  }

  .footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .contact-info {
    padding-bottom: 0;
  }
  .footer2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer2 p,
  .footer2 div {
    text-align: center;
    padding: 0 2em;
  }
  .footer2 p:nth-child(1),
  .footer2 p:nth-child(2) {
    border-right: 1px solid var(--secondary-color);
  }
}
